.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4em;
    background-color: #F5F7FA;

    .hero-image {
        flex: 1;

        img {
            width: 90%;
            height: auto;
        }
    }

    .hero-content {
        flex: 2;
        margin-left: 50px;


        h1 {
            font-size: 2.5rem;
            color: #4D4D4D;

            span {
                display: block;
                font-size: 2rem;
                color: #4CAF4F;
                margin-top: 10px;
            }
        }

        p {
            margin-top: 10px;
            max-width: 400px;
            font-size: 1rem;
            color: #717171;
        }
    }
}