.footer{
    margin: 0;
}
.info{
    background-color:#F5F7FA ;
    height: 216px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    h3{
        color: #263238;
        font-size: xx-large;
       
    }

}
 